@charset "EUC-KR";
header,section,footer{
	background-color : #000000;
	color: white;
	text-align: center;
}
header{
padding-top:20px;
	height: 40px;
}
section{
	height: 550px;
}
#sectionDiv{
	padding-top : 150px;
	vertical-align: middle;
}
footer{
	height: 100px;
}